In [2]:
import pandas as pd #pip install pandas
import yfinance as yf #pip install yfinance
import numpy as np #pip install numpy

#Creo el primer simbolo

symbol = 'AAPL'
ticker = yf.Ticker(symbol)
start_date = '2021-01-01'
end_date = '2022-09-01'
df = ticker.history(start = start_date, end = end_date)
df['Asset']='Apple'

#Creo el segundo simbolo

symbol2 = 'AMZN'
ticker2 = yf.Ticker(symbol2)
df2 = ticker2.history(start = start_date, end = end_date)
df2['Asset']='AMAZON'

#Creo el tercer simbolo

symbol3 = 'BAC'
ticker3 = yf.Ticker(symbol3)
df3 = ticker3.history(start = start_date, end = end_date)
df3['Asset']='Bank of America'

#Creo el cuarto simbolo

symbol4 = 'C'
ticker4 = yf.Ticker(symbol4)
df4 = ticker4.history(start = start_date, end = end_date)
df4['Asset']='Citygroup'

#Creo el quinto simbolo

symbol5 = 'GE'
ticker5 = yf.Ticker(symbol5)
df5 = ticker5.history(start = start_date, end = end_date)
df5['Asset']='General Electric'

#Creo el sexto simbolo

symbol6 = 'CL=F'
ticker6 = yf.Ticker(symbol6)
df6 = ticker6.history(start = start_date, end = end_date)
df6['Asset']='WTI'

#Creo el septimo simbolo

symbol7 = 'COP=X'
ticker7 = yf.Ticker(symbol7)
df7 = ticker7.history(start = start_date, end = end_date)
df7['Asset']='USD/COP'

Portafolio = pd.concat([df,df2,df3,df4,df5,df6,df7])
Portafolio.to_excel('Portafolio Inversion.xlsx')
Portafolio

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Asset
Date,,,,,,,,
2021-01-04,132.155051,132.244128,125.464156,128.087067,143301900.0,0.0,0.0,Apple
2021-01-05,127.572377,130.393248,127.117073,129.670700,97664900.0,0.0,0.0,Apple
2021-01-06,126.414347,129.710307,125.088042,125.305794,155088000.0,0.0,0.0,Apple
2021-01-07,127.047792,130.284368,126.552904,129.581619,109578200.0,0.0,0.0,Apple
2021-01-08,131.076178,131.274146,128.898672,130.700073,105158200.0,0.0,0.0,Apple
...,...,...,...,...,...,...,...,...
2022-08-26,4392.180176,4398.180176,4370.169922,4392.180176,0.0,0.0,0.0,USD/COP
2022-08-29,4399.359863,4406.540039,4353.084473,4399.359863,0.0,0.0,0.0,USD/COP
2022-08-30,4375.580078,4406.950195,4353.479980,4375.580078,0.0,0.0,0.0,USD/COP
2022-08-31,4411.919922,4445.250000,4368.269531,4411.919922,0.0,0.0,0.0,USD/COP
2022-09-01,4419.919922,4474.080078,4380.709961,4419.919922,0.0,0.0,0.0,USD/COP